@error-notification-icon-url: url("../../assets/icons/err.svg");
@success-notification-icon-url: url("../../assets/icons/succ.svg");
@warning-notification-icon-url: url("../../assets/icons/warning.svg");
@info-notification-icon-url: url("../../assets/icons/info.svg");
.text-font {
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  color: #6F7582;
}

.root {
  :global {
    .status-alert {
      margin-right: unset;
      max-width: 400px;

      .status-alert__box {
        border-top: 3px solid #5A8AFF;
        background-color: #FFFFFF;
        height: 120px;
        padding: 18px 25px 16px 18px;
        display: flex;
        align-items: center;
      }

      .status-alert__icon-holder {
        display: flex;
        position: unset;
        align-items: center;
        padding-top: 0;
        height: calc(100% - 3px);
        width: unset;
        padding-right: 17px;

      }

      .is-green-success {
        border-top: 3px solid #7ECF81;
      }

      .is-orange-warning {
        border-top: 3px solid #FFD56A;
      }

      .is-red-error {
        border-top: 3px solid #EF7362;
      }


      .is-green-success .is-check {
        background-image: @success-notification-icon-url;
        width: 38px;
        height: 38px;
        background-size: cover;
      }

      .is-orange-warning .is-error {
        background-image: @warning-notification-icon-url;
        width: 41px;
        height: 36px;
        background-size: cover;
      }

      .is-red-error .is-error {
        background-image: @error-notification-icon-url;
        width: 58px;
        height: 58px;
        background-size: cover;
      }

      .is-info-icon {
        background-image: @info-notification-icon-url;
        width: 38px;
        height: 38px;
        background-size: cover;
      }

      .status-alert__text {
        .text-font;
        word-break: break-word;
      }
    }
  }
}

//

//
//.title-font {
//  font-family: Roboto;
//  font-size: 16px;
//  font-weight: 500;
//  line-height: 1.13;
//  color: #000000;
//}
//
//.root {
//  .text-font();
//
//  .body {
//
//    .title {
//      .title-font();
//      padding-bottom: 12px;
//    }
//
//    .content {
//
//    }
//
//  }
//}
