@import (reference) "../../styles";

.root {
  cursor: pointer;
  .museo-font();
  height: 50px;
  border-radius: 60px;
  box-sizing: border-box;
  border: 1px solid #7746F8;
  background: transparent;

  &:hover {
    background: #6637E2;
  }

  &.action {
    background: #F44915;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  }
}

//.big {
//  cursor: pointer;
//
//  .museo-font();
//  width: 400px;
//  height: 50px;
//
//
//  border-radius: 60px;
//}
