:root {
    --link-animation-duration: 2s;
}

.link__wrapper {
    position: absolute;
    top: 157px;
    left: 558px;
    display: flex;
    width: 50px;
    z-index: 5;
    transform: rotate(45deg)
}
.link__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    opacity: 100%;

    z-index: 1; /* matters! */

    -webkit-transition: all var(--link-animation-duration) ease-out;
    -moz-transition: all var(--link-animation-duration) ease-out;
    -o-transition: all var(--link-animation-duration) ease-out;
    transition: all var(--link-animation-duration) ease-out;
}
.link__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #532BF2 -0.41%, #7B5AFF 100%);
    opacity: 0;
    transition: opacity var(--link-animation-duration);
    z-index: -1;
}

.link__content:hover{
    transform: scale(1.25);
}

.link__content:hover::before {
    opacity: 1;
}

.link__arrow {
    z-index: 3;
    position: relative;
    left: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.right_link > .link__arrow {
    transform: rotate(180deg);
    left: -2px;
    bottom: -2px;
}
