:root {
    --link-scale-ratio: 1;
}

.link__wrapper {
    position: fixed;
    top: 300px;
    left: 300px;
    display: flex;
    width: 50px;
    transform: rotate(45deg)
}
.link__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transform: scale(var(--link-scale-ratio));
    opacity: 100%;
    /*background: transparent;*/
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.link__content:hover{
    background-color: #532BF2;
    transform: scale(1.25);
}

.link__arrow {

    position: relative;
    left: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.right_link > .link__arrow {
    transform: rotate(180deg);
    left: -2px;
    bottom: -2px;
}
