.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .text {
    z-index: 10;
    flex: 1;
    overflow-wrap: break-word;
    position: absolute;
    font-family: Museo Sans Cyrl;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #1A3D86;
    box-sizing: border-box;
    padding: 0px 30px;
    width: 100%;
    justify-content: center;
  }
}

