@import "../font";

.root {
  @media (max-width: 900px) {
    padding: 0px 30px;
  }
  overflow: auto;
  padding: 0px 70px;
  display: flex;
  //align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;

}

.policy {
  .museo-font();
  font-size: 12px;
  line-height: 26px;
  text-align: center;

  color: #BDA8F9;
}

.language {
  font-family: Museo Sans Cyrl;
  position: fixed;
  top: 1vw;
  right: 1vw;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}

