@import (reference) "../../font";
@duration: 1s;

.root {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .input, .button {
    width: 100%;
    max-width: 300px;
    &:last-child {
      margin-top: 1vh;
    }
  }
}
